.border-penanda{
    border: 1px solid black;
}

.masthead.segment{
    min-height: 700px;
    padding: 1em 0em;
}

.white-text > a {
    color: #fff;
}

.white-text > a:hover {
    color: #fff;
}

#modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7)
				url('/static/image/loader2.svg')
				50% 50%
				no-repeat;
}

#face_video_canvas {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 150px;
    width: 200px;
    z-index: 99;
}

#face_video {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 150px;
    width: 200px;
    z-index: 99;
}

#menu-controller {
    display: inline-block;
    width: 100%;
}

#home_logo {
    display: inline-block;
    vertical-align: middle;
    margin: -0.3em 0em;
    width: 2.5em;
}

#footer_menu {
    margin: 0em 0em 0em;
    padding: 2em 0em;
}

#main_area {
    min-height: 100%;
    margin-top: 4em;
    padding-top: 3em;
    /* padding-left: 5%;
    padding-right: 5%; */
}

#main_area > :not(#welcome-page){
    padding-left: 5%;
    padding-right: 5%;
}

#playlist{
    list-style: none;
    padding-left: 10px;
}

#playlist li a{
    color:black;
    text-decoration: none;
}

#playlist .current-song a{
    color:blue;
}

.hidden {
    display: none;
}

/* The Modal (background) */
.modal-p {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 10px;
}

#setKategori {
    margin-top: 10px;
}

#setKategori > label {
    margin-right: 10px;
}

#kategoriList {
    display: inline-grid;
}

#setKategori > button {
    margin-top: 5px;
}

#resultKategori {
    display: none;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* .close_modal {
    margin-left: 95%;
} */

body > .grid {
    height: 100%;
}
#column-login {
    max-width: 450px;
}
#column-register {
    max-width: 450px;
}

#graph-result-container {
    height: 400px;
    width:100%;
    margin-bottom: 70px;
}

#graph-song-container {
    width: 100%;
    padding-left: 25px;
    padding-right: 40px;
}

#audio-control {
    display: none;
    margin-top: 10px;
}

#detection-controller {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
}

#audioPlayer-container {
    padding-left: 39px;
}

.fdm-title {
    padding-left: 25px;
}

.pad-tl-25 {
    padding-top: 25px;
    padding-left: 25px;
}

.pad-all-25 {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.mar-tl-25 {
    padding-top: 25px;
    padding-left: 25px;
}

.mar-all-25 {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.nav-top {
    margin-top: 5px;
}

.tabcontent > button.ui.button {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#sub-btn-inl {
    margin-left: 20px;
    margin-top: 10px;
}

#add-playlist {
    display: none;
    margin-top: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc;
    border-top: none; */
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#start {
    margin-right: 5px;
}

#reset {
    margin-right: 5px;
}

#stop {
    margin-right: 5px;
}

#welcome-page {
    margin-top: -27px;
    padding-top: 15%;
    /* position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%; */
}

#header-text{
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

#subHeader-text{
    font-size: 1.7em;
    font-weight: normal;
}

#nav-menu-top {
    padding-left: 5%;
    padding-right: 5%;
}

#footer-text {
    /* padding-left: 5%; */
    text-align: center;
}
/* #all-graph-container {
    padding-top: 25px;
    padding-left: 25px;
} */