{% extends "base.html" %}
{% block content %}
    <div class="ui fdm-title text container">
        <h1 class="ui header">
            Grafik Hasil Percobaan
        </h1>
    </div>

    <div class="ui container pad-tl-25">
        <form class="ui large form" role="form" method="POST">
            <select name="sessionId" class="ui fluid dropdown">
                <option value="" disabled selected>Id Session</option>
                {% for data in dataSession %}
                    <option value="{{data.id_session}}">{{data.id_session}}</option>
                {% endfor %}
            </select>
            <button id="showGraph" class="ui fluid large teal submit button" type="button">Submit</button>    
            <!-- <input type="number" id="sessionId" name="sessionId" placeholder="Id Session"> -->
        </form>
    </div>

    <div id="descriptionResultAG1" class="ui container pad-tl-25" >
        <strong>Id Session &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong> 
            <span id="idSessionDescriptionAG1"></span><br>
        <strong>Username &nbsp;&nbsp;&nbsp;&nbsp; : </strong> 
            <span id="userNameDescriptionAG1"></span><br>
        <strong>Song &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong> 
            <span id="songDescriptionAG1"></span><br>   
        <strong>Kategori &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong> 
            <span id="kategoriDescriptionAG1"></span><br> 
    </div>

    <div id="all-graph-container" class="pad-tl-25" style="height: 400px; width:95%;"></div>
    <h1 class="center" id="empty-graph-container"></h1>

    <script>
        $(document).ready(function(){
            var dataAllGraph = [];
            var chart = new CanvasJS.Chart("all-graph-container", {
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Grafik Gerakan Mulut"
                },
                axisY: {
                    title: "Nilai Gerakan Mulut",
                    includeZero: true
                },
                axisX: {
                    title: "Time",
                    includeZero: true
                },
                data: [{
                    type: "splineArea",
                    color: "rgba(54,158,173,.7)",
                    dataPoints: dataAllGraph
                }]
            });

            $('#showGraph').click(function() {
                // var sessionId = $('#sessionId').val();
                $.ajax({
                    url: '/countAllInterest',
                    data: $('form').serialize(),
                    type: 'POST',
                    async: false,
                    success: function(response) {
                        var graphCont = document.getElementById("all-graph-container");
                        var graphEmpCont = document.getElementById("empty-graph-container");
                        console.log(response.success);
                        console.log("Data Terkirim");
                        if(response.success == true){
                            var dataLength = response.dataInterestValue.length;
                            var uName = response.username;
                            var idSession = response.idSession;
                            var songList = response.dataInterestValue[0].song_list;
                            var songKategori = response.dataInterestValue[0].song_kategori;
                            var i;
                            var one = 1;

                            graphCont.style.display = "block";
                            $('#idSessionDescriptionAG1').html(idSession);
                            $('#userNameDescriptionAG1').html(uName);
                            $('#songDescriptionAG1').html(songList);
                            $('#kategoriDescriptionAG1').html(songKategori);
                            console.log("Berhasil");
                            // console.log(i);
                            // console.log(typeof i);
                            console.log(dataLength);
                            // console.log(typeof dataLength);

                            for (i = 0; i < dataLength; i++){
                                var firstTS = response.dataInterestValue[0].ts;
                                var recentTS = response.dataInterestValue[i].ts;

                                var floatFirstTS = parseFloat(firstTS);
                                var floatRecentTS = parseFloat(recentTS);
                                var tempResultTS = floatRecentTS - floatFirstTS;
                                var resultTS = tempResultTS.toFixed(2);
                                console.log(i);

                                if(i == 0){
                                    var recentMO = response.dataInterestValue[i].mo - response.dataInterestValue[i].mo;
                                    var resultMO = parseFloat(recentMO);
                                }
                                else {
                                    var lastMO = response.dataInterestValue[i-one].mo;
                                    var recentMO = response.dataInterestValue[i].mo;
                                    var resultMO = parseFloat(recentMO) - parseFloat(lastMO);
                                }

                                dataAllGraph.push({
                                    x: Math.abs(resultTS),
                                    y: Math.abs(resultMO)
                                });
                            }
                            console.log(dataAllGraph);
                            chart.render();
                        }else{
                            graphCont.style.display = "none";
                            graphEmpCont.innerHTML = "Data Not Found";
                            console.log("Data Kosong");
                        }
                    },
                    error: function(error) {
                        console.log(error);
                        console.log("Data tidak terkirim");
                    }
                });
            });
        });
    </script>
{% endblock %}