{% extends "base.html" %}
{% block content %}
    <!-- <div class="ui container"> -->
        <h1 class="fdm-title center">Emotion Recognition</h1>

        <div class="ui container">
            <div class="ui grid" id="graph-song-container">
            <div class="twelve wide column" id="chartContainer" style="height: 400px; width:75%;"></div>
                
                <div id="audioPlayer-container" class="four wide column">
                    <div id="kategoriList">
                        <form id="kategoriLagu"> 
                            <strong>Kategori Lagu : </strong>
                            <div id="setKategori">
                                <input type="radio" id="stl" name="kategori" value="Hafal Lirik">
                                <label for="kategoriChoice1">Hafal Lirik</label>
                                
                                <input type="radio" id="sttl" name="kategori" value="Tidak Hafal Lirik">
                                <label for="kategoriChoice2">Tidak Hafal Lirik</label>

                                <input type="radio" id="bd" name="kategori" value="Baru Dengar">
                                <label for="kategoriChoice3">Baru Dengar</label><br>
                                <button class="ui toggle button" type="submit">Set</button>
                            </div>
                          </form>
                    </div>

                    <p id="resultKategori">Kategori : <strong id="logKategoriSong" style="color: red;">Kategori belum ditentukan</strong></p>

                    <div id="audio-control">
                        <b>
                             <audio class="" id="audioPlayer" controls>
                                <source src="">
                             </audio>
                         </b>
                     </div>

                    <button class="ui positive button" id="add-playlist">Add Playlist</button>
                    <div class="ui divider"></div>
                    <div id="playlist-content"></div>
                </div>    
            </div>
                
        </div>

        <div id="detection-controller" class="ui container">
            <div class="row">
                <div class="ui divider"></div>
                <div id="menu-controller">
                    <div style="display:inline-block;margin-right: 50px;" class="ui buttons">
                        <button class="ui labeled icon button" id="start" onclick="onStart()">
                            <i class="play icon"></i>
                            Play
                        </button>
                        <button class="ui labeled icon button" id="reset" onclick="onReset()">
                            Reset
                            <i class="undo alternate icon"></i>
                        </button>
                        <button class="ui labeled icon button" id="stop" onclick="onStop()">
                            <i class="stop icon"></i>
                            Stop
                        </button>
                    </div>

                    <div style="display: inline-grid;margin-left: 50px;">
                        <strong>LOG MESSAGES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;<span id="log-message"></span></strong>
                        <!-- <span id="logs"></span> -->
                    </div>

                    <div style="height:25em;">
                        <div>
                            <h2 id="emotion_result" style="color: red;"></h2>
                        </div>
                        <div id="results" style="word-wrap:break-word;"></div>
                    </div>
                </div>

                <div class="col-md-8" id="affdex_elements" style="width:200px;height:150px;position:fixed;right:10px;
                                                                    bottom:10px;"></div>
            </div>
        </div>

        <div class="ui hidden divider"></div>

        <div id="download-txt"></div>

    <!-- </div> -->

    <div id="modal-playlist" class="modal-p">
        <div class="modal-content">
            <span class="close_modal close icon">&times;</span>
            <br><strong>List Lagu</strong>
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openGenre(event, 'menuPop')" id="defaultOpen">Pop</button>
                <button class="tablinks" onclick="openGenre(event, 'menuDangdut')">Dangdut</button>
                <button class="tablinks" onclick="openGenre(event, 'menuRock')">Rock</button>
                <button class="tablinks" onclick="openGenre(event, 'menuJazz')">Jazz</button>
                <button class="tablinks" onclick="openGenre(event, 'menuReggae')">Reggae</button>
                <button class="tablinks" onclick="openGenre(event, 'menuReligi')">Religi</button>
            </div>
            
            <div class="ui divider"></div>
            
            <!-- Tab content -->
            <div id="menuPop" class="tabcontent">
                <div class="ui six doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/akhirnya.png') }}"> </div>
                        <div class="content">
                            <a class="header">Akhirnya</a>
                            <div class="meta">
                                <a>Gigi</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="akhirnya-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/ayah.png') }}"> </div>
                        <div class="content">
                            <a class="header">Ayah</a>
                            <div class="meta">
                                <a>Ariel</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="ayah-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/bahagia.png') }}"> </div>
                        <div class="content">
                            <a class="header">Bahagia</a>
                            <div class="meta">
                                <a>GAC</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bahagia-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/benciUntukMencinta.png') }}"> </div>
                        <div class="content">
                            <a class="header">Benci Untuk Mencinta</a>
                            <div class="meta">
                                <a>Naif</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="benciUntukMencinta-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/beritaKepadaKawan.png') }}"> </div>
                        <div class="content">
                            <a class="header">Berita Kepada Kawan</a>
                            <div class="meta">
                                <a>Ebiet G Ade</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="beritaKepadaKawan-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/bukaSemangatBaru.png') }}"> </div>
                        <div class="content">
                            <a class="header">Buka Semangat Baru</a>
                            <div class="meta">
                                <a>Ello</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bukaSemangatBaru-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/bukanDiaTapiAku.png') }}"> </div>
                        <div class="content">
                            <a class="header">Bukan Dia Tapi Aku</a>
                            <div class="meta">
                                <a>Judika</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bukanDiaTapiAku-pl">Add</button>
                        </div>
                    </div>
                
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/bunda.png') }}"> </div>
                        <div class="content">
                            <a class="header">Bunda</a>
                            <div class="meta">
                                <a>Melly Goeslaw</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bunda-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/happy.png') }}"> </div>
                        <div class="content">
                            <a class="header">Happy</a>
                            <div class="meta">
                                <a>Pharel Williams</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="happy-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/lebihIndah.png') }}"> </div>
                        <div class="content">
                            <a class="header">Lebih Indah</a>
                            <div class="meta">
                                <a>Adera</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="lebihIndah-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/manusiaBodoh.png') }}"> </div>
                        <div class="content">
                            <a class="header">Manusia Bodoh</a>
                            <div class="meta">
                                <a>Ada Band</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="manusiaBodoh-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/selamatPagi.png') }}"> </div>
                        <div class="content">
                            <a class="header">Selamat Pagi</a>
                            <div class="meta">
                                <a>Ran</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="selamatPagi-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/semuaTentangKita.png') }}"> </div>
                        <div class="content">
                            <a class="header">Semua Tentang Kita</a>
                            <div class="meta">
                                <a>Peterpan</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="semuaTentangKita-pl">Add</button>
                        </div>
                    </div>
                
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/sepertiYangKauMinta.png') }}"> </div>
                        <div class="content">
                            <a class="header">Seperti Yang Kau Minta</a>
                            <div class="meta">
                                <a>Chrisye</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sepertiYangKauMinta-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/sugar.png') }}"> </div>
                        <div class="content">
                            <a class="header">Sugar</a>
                            <div class="meta">
                                <a>Maroon 5</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sugar-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/tetapSemangat.png') }}"> </div>
                        <div class="content">
                            <a class="header">Tetap Semangat</a>
                            <div class="meta">
                                <a>Bondan Feat Fade 2 Black</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="tetapSemangat-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/uptownFunk.png') }}"> </div>
                        <div class="content">
                            <a class="header">Uptown Funk</a>
                            <div class="meta">
                                <a>Bruno Mars</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="uptownFunk-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/moreThanWord.png') }}"> </div>
                        <div class="content">
                            <a class="header">More Than Words</a>
                            <div class="meta">
                                <a>Extreme</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="moreThanWords-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/weWillNotGoDown.png') }}"> </div>
                        <div class="content">
                            <a class="header">We Will Not Go Down</a>
                            <div class="meta">
                                <a>Michael Heart</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="weWillNotGoDown-pl">Add</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/despacito.png') }}"> </div>
                        <div class="content">
                            <a class="header">Despacito</a>
                            <div class="meta">
                                <a>Luis Fonsi Feat Daddy Yanke</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="despacito-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/pernah.png') }}"> </div>
                        <div class="content">
                            <a class="header">Pernah</a>
                            <div class="meta">
                                <a>Azmi</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="pernah-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/tentangRindu.png') }}"> </div>
                        <div class="content">
                            <a class="header">Tentang Rindu</a>
                            <div class="meta">
                                <a>Virzha</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="tentangRindu-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/indonesiaRaya.png') }}"> </div>
                        <div class="content">
                            <a class="header">Indonesia Raya</a>
                            <div class="meta">
                                <a>W.R Supratman</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="indonesiaRaya-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/kembaliPulang.png') }}"> </div>
                        <div class="content">
                            <a class="header">Kembali Pulang</a>
                            <div class="meta">
                                <a>Kangen Band</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="kembaliPulang-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/pujaanHati.png') }}"> </div>
                        <div class="content">
                            <a class="header">Pujaan Hati</a>
                            <div class="meta">
                                <a>Kangen Band</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="pujaanHati-pl">Add</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/sekaliIniSaja.png') }}"> </div>
                        <div class="content">
                            <a class="header">Sekali Ini Saja</a>
                            <div class="meta">
                                <a>Glen Fredy</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sekaliIniSaja-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/bersamamu.png') }}"> </div>
                        <div class="content">
                            <a class="header">Bersamamu</a>
                            <div class="meta">
                                <a>Vierra</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bersamamu-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/brightAsTheSun.png') }}"> </div>
                        <div class="content">
                            <a class="header">Bright As The Sun</a>
                            <div class="meta">
                                <a>Energy 18</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="brightAsTheSun-pl">Add</button>
                        </div>
                    </div>
                    <!--Not Added-->
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/attention.png') }}"> </div>
                        <div class="content">
                            <a class="header">Attention</a>
                            <div class="meta">
                                <a>Charlie Puth</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="attention-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/pop/allOfMe.png') }}"> </div>
                        <div class="content">
                            <a class="header">All Of Me</a>
                            <div class="meta">
                                <a>John Legend</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="allOfMe-pl">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menuDangdut" class="tabcontent">
                <div class="ui six doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/lagiSyantik.png') }}"> </div>
                        <div class="content">
                            <a class="header">Lagi Syantik</a>
                            <div class="meta">
                                <a>Siti Badriyah</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="lagiSyantik-pl">Add</button>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/goyangNasiPadang.png') }}"> </div>
                        <div class="content">
                            <a class="header">Goyang Nasi Padang</a>
                            <div class="meta">
                                <a>Duo Anggrek</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="nasiPadang-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/sayang.png') }}"> </div>
                        <div class="content">
                            <a class="header">Sayang</a>
                            <div class="meta">
                                <a>Via Vallen</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sayang-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/sayang2.png') }}"> </div>
                        <div class="content">
                            <a class="header">Sayang 2</a>
                            <div class="meta">
                                <a>Nella Kharisma</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sayang2-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/jaranGoyang.png') }}"> </div>
                        <div class="content">
                            <a class="header">Jaran Goyang</a>
                            <div class="meta">
                                <a>Nella Kharisma</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="jaranGoyang-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/ditinggalRabi.png') }}"> </div>
                        <div class="content">
                            <a class="header">Ditinggal Rabi</a>
                            <div class="meta">
                                <a>Nella Kharisma</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="ditinggalRabi-pl">Add</button>
                        </div>
                    </div>

                    <!--Not Added-->
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/goyangDumang.png') }}"> </div>
                        <div class="content">
                            <a class="header">Goyang Dumang</a>
                            <div class="meta">
                                <a>Cita Citata</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="goyangDumang-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/sakitnyaTuhDisini.png') }}"> </div>
                        <div class="content">
                            <a class="header">Sakitnya Tuh Disini</a>
                            <div class="meta">
                                <a>Cita Citata</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sakitnyaTuhDisini-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/penasaran.png') }}"> </div>
                        <div class="content">
                            <a class="header">Penasaran</a>
                            <div class="meta">
                                <a>Rhoma Irama</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="penasaran-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/dangdut/darahMuda.png') }}"> </div>
                        <div class="content">
                            <a class="header">Darah Muda</a>
                            <div class="meta">
                                <a>Rhoma Irama</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="darahMuda-pl">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menuRock" class="tabcontent">
                <div class="ui six doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/rock/heaven.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Heaven</a>
                            <div class="meta">
                                <a>Bryan Adams</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="heaven-pl">Add</button>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/rock/itsMyLife.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Its My Life</a>
                            <div class="meta">
                                <a>Bon Jovi</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="itsMyLife-pl">Add</button>
                        </div>
                    </div>
                    
                    <!--Not Added-->
                    
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/rock/smellsLikeTeenSpirit.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Smells Like Teen Spirit</a>
                            <div class="meta">
                                <a>Nirvana</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="smellsLikeTeenSpirit-pl">Add</button>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/rock/bringMeToLife.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Bring My To Life</a>
                            <div class="meta">
                                <a>Evanescence</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bringMeToLife-pl">Add</button>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/rock/sweetChildOfMine.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Sweet Child Of Mine</a>
                            <div class="meta">
                                <a>Guns and Rose</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sweetChildOfMine-pl">Add</button>
                        </div>
                    </div>        
                </div>        
            </div>
                        
            <div id="menuJazz" class="tabcontent">
                <div class="ui six doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/jazz/carelessWhisper.png') }}"> </div>
                        <div class="content">
                            <a class="header">Careless Whisper</a>
                            <div class="meta">
                                <a>George Michaels</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="carelessWhisper-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/jazz/feelingGood.png') }}"> </div>
                        <div class="content">
                            <a class="header">Feeling Good</a>
                            <div class="meta">
                                <a>Michael Buble</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="feelingGood-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/jazz/pastiBisa.png') }}"> </div>
                        <div class="content">
                            <a class="header">Pasti Bisa</a>
                            <div class="meta">
                                <a>Citra Scholastika</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="pastiBisa-pl">Add</button>
                        </div>
                    </div>
                    <!--Not Added-->
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/jazz/cryMeARiver.png') }}"> </div>
                        <div class="content">
                            <a class="header">Cry Me A River</a>
                            <div class="meta">
                                <a>Michael Buble</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="cryMeARiver-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/jazz/sway.png') }}"> </div>
                        <div class="content">
                            <a class="header">Sway</a>
                            <div class="meta">
                                <a>Michael Buble</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="sway-pl">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menuReggae" class="tabcontent">
                <div class="ui six doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/reggae/santaiSaja.png') }}"> </div>
                        <div class="content">
                            <a class="header">Santai Saja</a>
                            <div class="meta">
                                <a>Saint Loco</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="santaiSaja-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/reggae/welcomeToMyParadise.png') }}"> </div>
                        <div class="content">
                            <a class="header">Welcome to My Paradise</a>
                            <div class="meta">
                                <a>Steven and Coconut Treez</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="welcomeToMyParadise-pl">Add</button>
                        </div>
                    </div>
                    <!--Not Added-->
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/reggae/noWomenNoCry.png') }}"> </div>
                        <div class="content">
                            <a class="header">No Women No Cry</a>
                            <div class="meta">
                                <a>Bob Marley</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="noWomenNoCry-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/reggae/kembaliBerdansa.png') }}"> </div>
                        <div class="content">
                            <a class="header">Kembali Berdansa</a>
                            <div class="meta">
                                <a>Shaggydog</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="kembaliBerdansa-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/reggae/diSayidan.png') }}"> </div>
                        <div class="content">
                            <a class="header">Di Sayidan</a>
                            <div class="meta">
                                <a>Shaggydog</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="diSayidan-pl">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menuReligi" class="tabcontent">
                <div class="ui six doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/religi/deenAssalam.png') }}"> </div>
                        <div class="content">
                            <a class="header">Deen Assalam</a>
                            <div class="meta">
                                <a>Sabyan</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="deenAssalam-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/religi/rapuh.png') }}"> </div>
                        <div class="content">
                            <a class="header">Rapuh</a>
                            <div class="meta">
                                <a>Opick</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="rapuh-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/religi/tomboAti.png') }}"> </div>
                        <div class="content">
                            <a class="header">Tombo Ati</a>
                            <div class="meta">
                                <a>Opick</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="tomboAti-pl">Add</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/religi/bilaWaktuTelahBerakhir.png') }}"> </div>
                        <div class="content">
                            <a class="header">Bila Waktu Telah Berakhir</a>
                            <div class="meta">
                                <a>Opick</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="bilaWaktuTelahBerakhir-pl">Add</button>
                        </div>
                    </div>
                    <!--Not Added-->
                    <div class="card">
                        <div class="image">
                            <img src="{{ url_for('static', filename='image/song_cover/religi/ramadhan.png') }}"> </div>
                        <div class="content">
                            <a class="header">Ramadhan</a>
                            <div class="meta">
                                <a>Maher Zain</a>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <button class="ui positive button" id="ramadhan-pl">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-result" class="modal-p">
        <div class="modal-content">
            <span class="close_modal_result close icon">x</span>

            <div class="ui large toggle button">
                <a href="{{ url_for('graphResult') }}">
                    See Result
                    <i class="chevron right icon"></i>
                </a>
            </div>
        </div>
    </div>
<!--<script src="{{ url_for('static', filename='js/testaffectiva.js') }}" type="text/javascript"> </script>-->
<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

    function openGenre(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}