{% extends "base.html" %}
{% block content %}
    <div class="ui container">
        <h1 class="center">Emotion Recognition</h1>

        <div id="chartContainer" style="height: 400px; width:100%;"></div>

        <div class="ui fluid container">
            <div class="row">
                <div class="ui divider"></div>
                <div id="menu-controller">
                    <div style="display:inline-block;margin-right: 50px;" class="ui buttons">
                        <button class="ui labeled icon button" id="start" onclick="onStart()">
                            <i class="play icon"></i>
                            Play
                        </button>
                        <button class="ui labelled icon button" id="stop" onclick="onStop()">
                            <i class="stop icon"></i>
                            Stop
                        </button>
                        <button class="ui labeled icon button" id="reset" onclick="onReset()">
                            Reset
                            <i class="undo alternate icon"></i>
                        </button>
                    </div>

                    <div style="display: inline-grid;margin-left: 50px;">
                        <strong>LOG MESSAGES</strong>
                        <span id="logs"></span>
                    </div>
                    <div style="height:25em;">
                        <div>
                            <h2 id="emotion_result" style="color: red;"></h2>
                        </div>
                        <div id="results" style="word-wrap:break-word;"></div>
                    </div>
                </div>

                <div class="col-md-8" id="affdex_elements" style="width:200px;height:150px;position:fixed;right:10px;
                                                                    bottom:10px;"></div>
            </div>
        </div>

        <div class="ui hidden divider"></div>

        <button id="add-playlist">Add Playlist</button>
        <div id="playlist-content"></div>

        <div class="ui divider">
            <b>
                <audio class="" id="audioPlayer" controls>
                  <source src="">
                </audio>
            </b>
        </div>

        <div id="download-txt"></div>

    </div>

    <div id="modal-playlist" class="modal-p">
        <div class="modal-content">
            <span class="close_modal">&times;</span>
            <button id="akhirnya-pl">Akhirnya - add to Playlist</button>
            <button id="ayah-pl">Ayah - add to Playlist</button>
            <button id="bahagia-pl">Bahagia - add to Playlist</button>
            <button id="benciUntukMencinta-pl">Benci Untuk Mencinta - add to Playlist</button>
            <button id="beritaKepadaKawan-pl">Berita Kepada Kawan - add to Playlist</button>
            <button id="bukaSemangatBaru-pl">Buka Semangat Baru - add to Playlist</button>
            <button id="bukanDiaTapiAku-pl">Bukan Dia Tapi Aku - add to Playlist</button>
            <button id="bunda-pl">Bunda - add to Playlist</button>
            <button id="happy-pl">Happy - add to Playlist</button>
            <button id="lebihIndah-pl">Lebih Indah - add to Playlist</button>
            <button id="manusiaBodoh-pl">Manusia Bodoh - add to Playlist</button>
            <button id="pastiBisa-pl">Pasti Bisa - add to Playlist</button>
            <button id="santaiSaja-pl">Santai Saja - add to Playlist</button>
            <button id="selamatPagi-pl">Selamat Pagi - add to Playlist</button>
            <button id="semuaTentangKita-pl">Semua Tentang Kita - add to Playlist</button>
            <button id="sepertiYangKauMinta-pl">Seperti Yang Kau Minta - add to Playlist</button>
            <button id="sugar-pl">Sugar - add to Playlist</button>
            <button id="tetapSemangat-pl">Tetap Semangat - add to Playlist</button>
            <button id="uptownFunk-pl">Uptown Funk - add to Playlist</button>
            <button id="weWillNotGoDown-pl">We Will Not Go Down - add to Playlist</button>
        </div>
    </div>

{% endblock %}