{% extends "base.html" %}
{% block content %}
    <div class="ui text fdm-title container">
        <h1 class="ui header">
            Grafik Hasil Percobaan
        </h1>
    </div>

    <div class="ui container pad-tl-25">
        <button id="graph-result-btn" class="ui large primary submit button white-text" type="button">See Graph</button>
        <button id="see-all-graph-btn" class="ui large primary submit button white-text" type="button">
            <a href="{{ url_for('allGraph') }}">All Graph</a>
        </button>
    </div>

    <div id="descriptionResult" class="ui container pad-tl-25">
        <strong>Id Session &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong>
        <span id="idSessionDescription"></span>
        <br>
        <strong>Username &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong>
        <span id="userNameDescription"></span>
        <br>
        <strong>Song &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong>
        <span id="songDescription"></span>
        <br>
        <strong>Kategori &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong>
        <span id="kategoriDescription"></span>
        <br>
        <strong>Rata-rata &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </strong>
        <span id="rata2Description"></span>
        <br>
        <strong>Standar Deviasi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </strong>
        <span id="sdDescription"></span>
        <br>
        <strong>Hasil Gerakan Mulut &nbsp;&nbsp; : </strong>
        <span id="hasilGMDescription"></span>
        <br>
        <!-- <strong>Hasil Mouth Open &nbsp;&nbsp; : </strong>
        <span id="hasilMODescription"></span>
        <br> -->
    </div>

    <div id="graph-result-container" class="pad-tl-25" style="height: 400px; width:95%;">

    </div>

    <script>
        $(document).ready(function(){
            var dataGraphResult = [];
            var chart = new CanvasJS.Chart("graph-result-container", {
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Grafik Gerakan Mulut"
                },
                axisY: {
                    title: "Nilai Gerakan Mulut",
                    includeZero: true
                },
                data: [{
                    type: "splineArea",
                    color: "rgba(54,158,173,.7)",
                    dataPoints: dataGraphResult
                }]
            });

            $('#graph-result-btn').click(function() {
                $.ajax({
                    url: '/countInterest',
                    data: {

                    },
                    type: 'POST',
                    success: function(response) {
                        console.log(response.success);
                        console.log("Data Terkirim");
                        if(response.success == true){
                            var dataLength = response.dataInterestValue.length;
                            var uName = response.username;
                            var idSession = response.idSession;
                            var songList = response.dataInterestValue[0].song_list;
                            var songKategori = response.dataInterestValue[0].song_kategori;
                            var i;
                            var one = 1;
                            var avgMO = [];
                            var rataMO = 0;
                            var stdMO = 0;
                            var msgHasilGM = "";

                            // Hafal lirik ------------------
                            var avgRata2AllGM_STL = 7.630882971;
                            // var avgRata2AllMO_STL = 0;
                            var avgStdAllGM_STL = 15.02780034;
                            // var avgStdAllMO_STL = 0;

                            // tidak Hafal lirik ------------
                            var avgRata2AllGM_STTL = 5.607946322;
                            // var avgRata2AllMO_STTL = 0;
                            var avgStdAllGM_STTL = 12.80893656;
                            // var avgStdAllMO_STTL = 0;

                            // baru dengar ---------------------
                            var avgRata2AllGM_BD = 4.374827332;
                            // var avgRata2AllMO_BD = 0;
                            var avgStdAllGM_BD = 10.75043368;
                            // var avgStdAllMO_BD = 0;

                            console.log("Berhasil");
                            // console.log(i);
                            // console.log(typeof i);
                            console.log(dataLength);
                            // console.log(typeof dataLength);

                            for (i = 0; i < dataLength; i++){
                                var firstTS = response.dataInterestValue[0].ts;
                                var recentTS = response.dataInterestValue[i].ts;

                                var floatFirstTS = parseFloat(firstTS);
                                var floatRecentTS = parseFloat(recentTS);
                                var tempResultTS = floatRecentTS - floatFirstTS;
                                var resultTS = tempResultTS.toFixed(2);
                                // console.log(i);

                                if(i == 0){
                                    var recentMO = response.dataInterestValue[i].mo - response.dataInterestValue[i].mo;
                                    var resultMO = parseFloat(recentMO);
                                    avgMO.push(Math.abs(resultMO));
                                }
                                else {
                                    var lastMO = response.dataInterestValue[i-one].mo;
                                    var recentMO = response.dataInterestValue[i].mo;
                                    var resultMO = parseFloat(recentMO) - parseFloat(lastMO);
                                    avgMO.push(Math.abs(resultMO));
                                }

                                dataGraphResult.push({
                                    x: Math.abs(resultTS),
                                    y: Math.abs(resultMO)
                                });
                            }

                            rataMO = average(avgMO);
                            stdMO = stdev(avgMO);
                            
                            if(songKategori == "Hafal Lirik"){
                                if(rataMO >= avgRata2AllGM_STL || stdMO >= avgStdAllGM_STL){
                                    // interested
                                    msgHasilGM = "Anda ekspresif. Sepertinya anda tertarik dengan lagu ini";
                                } else{
                                    // not interested
                                    msgHasilGM = "Anda kurang ekspresif. Sepertinya anda kurang tertarik dengan lagu ini";
                                }
                            } else if(songKategori == "Tidak Hafal Lirik"){
                                if(rataMO >= avgRata2AllGM_STTL || stdMO >= avgStdAllGM_STTL){
                                    // interested
                                    msgHasilGM = "Anda ekspresif. Sepertinya anda tertarik dengan lagu ini";
                                } else{
                                    // not interested
                                    msgHasilGM = "Anda kurang ekspresif. Sepertinya anda kurang tertarik dengan lagu ini";
                                }
                            } else if(songKategori == "Baru Dengar"){
                                if(rataMO >= avgRata2AllGM_BD || stdMO >= avgStdAllGM_BD){
                                    // interested
                                    msgHasilGM = "Anda ekspresif. Sepertinya anda tertarik dengan lagu ini";
                                } else{
                                    // not interested
                                    msgHasilGM = "Anda kurang ekspresif. Sepertinya anda kurang tertarik dengan lagu ini";
                                }
                            }

                            $('#idSessionDescription').html(idSession);
                            $('#userNameDescription').html(uName);
                            $('#songDescription').html(songList);
                            $('#kategoriDescription').html(songKategori);
                            $('#rata2Description').html(rataMO.toFixed(3));
                            $('#sdDescription').html(stdMO.toFixed(3));
                            $('#hasilGMDescription').html(msgHasilGM);
                            // $('#hasilMODescription').html(stdMO);
                            console.log(dataGraphResult);
                            chart.render();
                        }else{
                            console.log("Tidak Berhasil");
                        }
                    },
                    error: function(error) {
                        console.log("Data Tidak Terkirim");
                    }
                });
            });

            function average(array) {
                var total = 0;
                
                for(i=0; i < array.length; i++){
                    total = total + array[i];
                }

                return total / array.length;
            }

            function stdev(array) {
                var total = 0;
                var arrayAvg = average(array);
                var varian = 0;
                var tempVarian = 0;
                var sd = 0;
                var xPangkat = 0;

                for(i=0; i < array.length; i++){
                    xPangkat = Math.pow(parseFloat(array[i]) - parseFloat(arrayAvg),2);
                    tempVarian = tempVarian + xPangkat;
                }

                varian = tempVarian / array.length;
                sd = Math.sqrt(varian);

                return sd;
            }
        });
    </script>
{% endblock %}