{% extends "base.html" %}
{% block content %}

    <div class="ui middle aligned center aligned grid">
      <div id="column-login" class="column">
        <h2 id="login-header" class="ui teal image header">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form class="ui large form" role="form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" id="txtUsername" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" id="txtPassword" name="password" placeholder="Password">
              </div>
            </div>
            <button id="user-login" class="ui fluid large teal submit button" type="button">Login</button>
          </div>

          <div id="success-msg-elm" class="ui success message">
            <p id="success-msg"></p>
          </div>

          <div id="error-msg-elm" class="ui error message">
            <p id="error-msg"></p>
          </div>

        </form>

        <div class="ui message">
          New to us? <a href="{{ url_for('signUp') }}">Sign Up</a>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('#user-login').click(function() {
            var user = $('#txtUsername').val();
            var pass = $('#txtPassword').val();
            $.ajax({
                url: '/signInUser',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response.success);
                    console.log("Data Terkirim");
                    if(response.success){
                      var errElm = document.getElementById("error-msg-elm");
                      var sucMsg = document.getElementById("success-msg");
                      var sucElm = document.getElementById("success-msg-elm");

                      sucMsg.innerHTML = response.message;
                      errElm.style.display = "none";
                      sucElm.style.display = "block";

                      window.location = response.url;
                    }else{
                      var errMsg = document.getElementById("error-msg");
                      var errElm = document.getElementById("error-msg-elm");
                      var sucElm = document.getElementById("success-msg-elm");

                      errMsg.innerHTML = response.message;
                      errElm.style.display = "block";
                      sucElm.style.display = "none";
                     }
                },
                error: function(error) {
                    // <!--console.log(error);-->
                    console.log("Data Tidak Terkirim");
                }
            });
        });
      });
    </script>
{% endblock %}